<div class="c-card">
    <div class="c-card__inside">
        {% if post.meta('product_gallery') %}
            <div class="c-card-gallery">
                <a href="{{ post.link }}">
                    {{ post.cardImages }}
                </a>
            </div>
        {% endif %}
        <div class="c-card__body">
            <a href="{{ post.link }}">
                <h4 class="c-card__title">
                    {{ post.title }}
                </h4>
            </a>
            {% if post.categories() %}
                <p class="c-card__categories">
                    {% for cat in post.categories() %}
                        <a class="c-link" href="{{ cat.link }}">
                            <span class="c-label">
                                {{ cat.name }}
                            </span>
                        </a>
                        {% if loop.index < post.categories | length %}
                            <span class="c-decor"></span>
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if post.meta('olx_attributes').price %}
                <p class="c-card__price">
                    {{ post.meta('olx_attributes').price }},-
                </p>
            {% endif %}
        </div>
    </div>
</div>
