<!doctype html>
    <!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
    <!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
    <!--[if gt IE 9]><!--><html class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
    <head>
        <meta charset="{{ site.charset }}" />
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="author" href="{{ site.theme.link }}/humans.txt" />
        <link rel="pingback" href="{{ site.pingback_url }}" />
        <link rel="profile" href="http://gmpg.org/xfn/11">

        <meta name="description" content="<?php bloginfo('description'); ?>">
        <meta name="og:title" property="og:title" content="<?php echo $seo_title; ?>">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P7GGVLS');</script>
        <!-- End Google Tag Manager -->

        {{ function('wp_head') }}

        <title>{{ seoTitle }}</title>
    </head>
    <body>

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7GGVLS"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <header class="l-header js-header">
            {% include 'components/header.twig' %}
        </header>

        <main class="l-main">
            {% if isHome %}
                {% include 'components/home-hero.twig' %}
            {% endif %}
            {% block content %}{% endblock %}
        </main>

        {% if isSingularProduct %}
            {% include 'components/image-modal.twig' %}
        {% endif %}

        {% include 'components/search-modal.twig' %}

        <footer class="l-footer">
            {% include 'components/footer.twig' %}
        </footer>

        {{ function('wp_footer') }}

    </body>
</html>
