{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="l-inner">
        {% if posts %}

            {% if currentCatName or isHome or isSearch %}
                <h2 class="c-section-title">
                    {% if currentCatName %}
                        {{ currentCatName }}
                    {% endif %}
                    {% if isHome %}
                        {{ __('Nasze produkty', textdomain) }}
                    {% endif %}
                    {% if isSearch %}
                        <strong><i>{{ searchQuery }}</i></strong> - {{ __('wyniki wyszukiwania', textdomain) }}
                    {% endif %}
                </h2>
            {% endif %}

            {% if isHome %}
                <p class="c-section-desc">
                    {{ __('Oferujemy antyki i starocie takie jak meble, obrazy, ozdoby, artykuły mosiężne czy żyrandole.
                    <br>
                    Nasze produkty pochodzą głównie z z Niemiec oraz Belgii.', textdomain) }}
                </p>
            {% endif %}

            {% if not isSearch %}
                {% include 'components/main-grid-filters.twig' with { filters: filters } %}
            {% endif %}

            <div class="c-main-grid js-product-list">
                {% for card in posts %}
                    {% include 'components/card.twig' with { post: card } %}
                {% endfor %}
            </div>

            {% if currentCatName %}
                <a href="/" class="c-section-link">
                    <span class="c-label">
                        {{ __('&laquo; Powrót do wszystkich produktów', 'antyki') }}
                    </span>
                </a>
            {% endif %}

        {% else %}

            <div class="c-main-grid c-main-grid--empty">
                <h2 class="c-section-title">
                    {{ __('Nie znaleziono produktów.', 'antyki') }}
                </h2>
                <a href="#" class="c-section-link" onclick="window.history.go('-1')">
                    <span class="c-label">
                        &laquo;{{ __('Powrót do wszystkich produktów', 'antyki') }}
                    </span>
                </a>
            </div>

        {% endif %}
    </div>
{% endblock %}
