<div id="widget_messages" class="postbox">
    <h2 class="hndle ui-sortable-handle">
        <span>{{ __('Wiadomości') }}</span>
    </h2>
    <div class="inside">
        {% if messages %}
            <table>
                <tr>
                    <td>{{ __('#') }}</td>
                    <td>{{ __('Wiadomość do ogłoszenia') }}</td>
                </tr>
                {% for message in messages %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ message.advertUrl }}">{{ message.advertTitle }}</a></td>
                        <td>
                            {% if message.isUnread %}
                                <span color="green">{{ __('Nowe wiadomości!') }}
                            {% else %}
                                <span>{{__('Wszystkie wiadomości przeczytane')}}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {{ __('Brak wiadomości') }}
        {% endif %}
    </div>
</div>
