<div class="l-inner">
    <div class="c-footer">

        {% if options.footer_descs %}
            <div class="c-footer__row">
                {% for desc in options.footer_descs %}
                    <div class="c-footer__col">
                        <h3 class="c-footer__title">
                            {{ desc.title }}
                        </h3>
                        <div class="c-footer__text">
                            {{ desc.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% include 'components/footer-nav.twig' %}

        <p class="c-footer__info">
            {{ __('Przedstawiona oferta ma charakter informacyjny i nie stanowi oferty handlowej w rozumieniu Art. 66 par. 1 Kodeksu Cywilnego.', textdomain) }}
        </p>

        <p class="c-footer__copyright">
            &copy; {{ site.name }} {{ function( 'date', 'Y' ) }}
        </p>

    </div>
</div>
