<div class="l-inner l-inner--wide">
    <div class="c-header">
        <a class="c-header__logo-wrapper" href="/">
            <figure class="c-header__logo">
                <img src="{{ assetUrl }}/img/antyki-logo.png" alt="Logo {{ site.url }}" />
            </figure>
        </a>
        <nav class="c-header__nav js-header-nav">
            <button class="c-header__nav-close js-close-nav">
                <svg class="ui-icon c-icon c-icon--close">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ assetUrl }}/symbol/svg/sprite.symbol.svg#close"></use>
                </svg>
            </button>
            {% include 'components/header-nav.twig' %}
        </nav>
        <button class="c-header__search js-toggle-search">
            <svg class="ui-icon c-icon c-icon--search">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ assetUrl }}/symbol/svg/sprite.symbol.svg#search"></use>
            </svg>
        </button>
        <button class="c-header__toggle js-toggle-menu">
            <svg class="ui-icon c-icon c-icon--burger">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ assetUrl }}/symbol/svg/sprite.symbol.svg#burger"></use>
            </svg>
        </button>
    </div>
</div>
