{% if filters %}
    <div class="c-main-grid-filters">
        <ul class="c-main-grid-filters__list">
            {% for filter in filters %}
                <li class="c-main-grid-filter c-main-grid-filter--{{ filter.type }} js-product-list-filter" data-filter-type="{{ filter.type }}">
                    <div class="c-main-grid-filter__wrapper js-accordion">
                        <label for="{{ filter.slug }}" class="c-main-grid-filter__label js-accordion-title">
                            <h4>
                                {{ filter.title }}
                            </h4>
                            <div>
                                <span></span>
                                <span></span>
                            </div>
                        </label>
                        <div class="c-main-grid-filter__content">
                            {% if filter.type == 'checkboxes' %}
                                {% for key, val in filter.choices %}
                                    <div>
                                        <input type="checkbox" id="{{ key }}" name="{{ key }}">
                                        <label for="{{ key }}">{{ val }}</label>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240.608 240.608">
                                                <defs/>
                                                <path fill="#ffffff" d="M208.789 29.972l31.819 31.82L91.763 210.637 0 118.876l31.819-31.82 59.944 59.942L208.789 29.972z"/>
                                            </svg>
                                        </span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if filter.type == 'select' %}
                                <select name="{{ filter.slug }}" id="{{ filter.slug }}">
                                    {% for key, val in filter.choices %}
                                        <option value="{{ key }}">{{ val }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                            {% if filter.type == 'range' %}
                                <div
                                    class="c-range-slider js-range-slider js-productlist-price"
                                    data-start="[{{ filter.from }}, {{ filter.to }}]"
                                    data-connect="[false, true, false]"
                                    data-range-min="[{{ filter.from }}]"
                                    data-range-max="[{{ filter.to }}]"
                                >
                                </div>
                                <div class="c-form-row">
                                    <input class="js-productlist-price-input" data-price="from" type="text" name="{{ filter.slug }}" data-default-val="{{ filter.from }}" value="{{ filter.from }}" placeholder="{{ __( 'od' ) }}" />
                                    <p>-</p>
                                    <input class="js-productlist-price-input" data-price="to" type="text" name="priceTo" data-default-val="{{ filter.to }}" value="{{ filter.to }}" placeholder="{{ __( 'do' ) }}" />
                                    <p>{{ __( 'PLN' ) }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
