<div class="wrapper">
	{% if isSold %}
		<div class="olx-status-row olx-status-row--fullwidth">
			<div class="olx-status-dot olx-status-dot--blue"></div>
			{{__('Sprzedany')}}
		</div>
		{% if validTo %}
			{% if isStillValid %}
				<div class="olx-status-row olx-status-row--fullwidth olx-status-row--error">
					<div class="olx-status-dot olx-status-dot--green"></div>
					{{__('Aukcja nadal aktywna')}}
				</div>
				<br/>
				<button data-product-id="{{postId}}" class="button js-olx-advert-unpublish">
					{{__('Dezaktywuj')}}
				</button>
			{% endif %}
		{% endif %}
	{% else %}
		{% if validTo %}
			{% if isStillValid %}
				<div class="olx-status-row olx-status-row--fullwidth">
					{% if olxData.status is same as 'new' or olxData.status is same as 'active' %}
						<div class="olx-status-dot olx-status-dot--green"></div>
						<h3 style="color: black">
							<a target="_blank" href="{{olxData.url}}">
								{{olxData.title | capitalize | slice(0, 30) }}
								{% if olxData.title | length > 30 %} ... {% endif %}
								&raquo;
							</a>
						</h3>
					{% endif %}
					{% if olxData.status is same as 'limited' %}
						<div class="olx-status-dot olx-status-dot--orange"></div>
						<h4>
							{{__('Aukcja została dodana, ale nie jest aktywna')}}
						</h4>
					{% endif %}
				</div>
				<hr />
				{% if olxData.status is same as 'limited' %}
					<a target="_blank" class="button" href="https://www.olx.pl/mojolx/waiting/">{{__('Zobacz czemu')}}</a>
				{% endif %}
				{% if olxData.status is same as 'new' or olxData.status is same as 'active' %}
					<button data-product-id="{{postId}}" class="button js-olx-advert-unpublish">
						{{__('Dezaktywuj')}}
					</button>
					&nbsp;
					<button data-product-id="{{postId}}" class="button js-olx-advert-update">
						{{__('Zaktualizuj dane')}}
					</button>
					<hr />
					<ul>
						<li>{{__('Wyświetlenia')}}: <strong>{{olxStats.advert_views}}</strong></li>
						<li>{{__('Wyświetlenia nr. tel.')}}: <strong>{{olxStats.phone_views}}</strong></li>
						<li>{{__('Obserwujący')}}: <strong>{{olxStats.users_observing}}</strong></li>
					</ul>
					<hr />
					<button data-product-id="{{postId}}" class="button warning js-olx-advert-sold">
						{{__('Sprzedany!')}}
					</button>
				{% endif %}
			{% else %}
				<div class="olx-status-row olx-status-row--fullwidth olx-status-row--offset-top">
					<div class="olx-status-dot olx-status-dot--red"></div>
					{{__('Aukcja istnieje, ale nie jest aktywna')}}
				</div>
				<br/>
				<button data-product-id="{{postId}}" class="button js-olx-advert-refresh">
					{{__('Odśwież')}}
				</button>
			{% endif %}
		{% else %}
			<div class="olx-status-row olx-status-row--fullwidth olx-status-row--offset-top">
				<div class="olx-status-dot"></div>
				{{__('Aukcja nie istnieje')}}
			</div>
			<br/>
			{% if hasFreeAdSlot %}
				<button data-product-id="{{postId}}" class="button js-olx-advert-publish">
					{{__('Aktywuj')}}
				</button>
			{% else %}
				<hr />
				<p>{{__('Nie można dodać ogłoszenia, bo skończył się pakiet w tej kategorii')}}</p>
				<hr />
				{% if olxCat is not same as 0 and olxCat is not same as 1 %}
					<a target="_blank" class="button" href="https://www.olx.pl/bundles/packet/?id={{olxCat}}&bs=langingpage_buypackage_top">{{__('Dokup pakiet')}}</a>
				{% else %}
					<a target="_blank" class="button" href="https://www.olx.pl/buypackage/?bs=langingpage_buypackage_top">{{__('Dokup pakiet')}}</a>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
</div>
